$primaryfont: "Verdana",
Tahoma,
Geneva,
Verdana,
sans-serif;



// global
$primarycolor: #8CC64B;
$primarycolor2: #2E8CCC;
$primarycolor3: #DEF4C5;
$primarycolor4: #f6f9fd;
$black: #000000;
$hot: #e71a2b;
$outline-light: rgb(185, 182, 182);
$fontcolor-white: #fff;
$fontcolor: #8cc64b;
$pageWidth: 90%;

//dark mode
// $primarycolor: #14bb22;
// $primarycolor2: #048fcf;
// $background-white: #1c1c33;;
// $background: #161625;
// $hot: #e71a2b;

// $outline-light: rgb(185, 182, 182);
// $fontcolor-light: #fff;
// $fontcolor-white: #fff;
// $shadow-color:  #37375a;
// $fontcolor-dark: #fff;
// $fontcolor: #8cc64b;
// $pageWidth: 90%;

// very dark
// $primarycolor: #14bb22;
// $primarycolor2: #048fcf;
// background-white: #272727;;
// background: #121212;
// $hot: #e71a2b;

// $outline-light: rgb(185, 182, 182);
// fontcolor-light: #fff;
// $fontcolor-white: #fff;
// shadow-color:  #535353;
// fontcolor-dark: #fff;
// $fontcolor: #8cc64b;
// $pageWidth: 90%;

a {
	text-decoration: none !important;

	&:hover {
		text-decoration: none !important;
		color: inherit !important;
	}

	&:active,
	:visited {
		text-decoration: none !important;
		color: inherit !important;
		border: none;
	}
}

.vl {
	border-left: 3px solid black;
	height: 20px;
	margin: 10px;
}

.primary-color {
	color: $fontcolor;
}

.danger {
	color: $hot;
}

button {
	&:focus {
		outline: none;
	}
}

.color-black {
	color: $black;
}

.red-dot {
	display: inline-block;
	height: 10px;
	width: 10px;
	background-color: #e71a2b;
	border-radius: 50%;
	border: 1px solid black;
}