@charset "utf-8";
@viewport {
  width: device-width;
}
@import "../../../../stylesDef/index.scss";

.Order {
  width: 100%;
  background-color: #fff;
  font-family: $primaryfont;
  // height: 100vh;

  &__Bracer {
    width: 100%;
    margin: 20px auto 0;

    @media (min-width: 200px) and (max-width: 750px) {
      width: 100%;
    }
  }

  &__Box {
    width: 40%;
    border: 1px solid #dedede;
    margin: auto;
    height: 40vh;
    padding: 24px;
    border-radius: 4px;
    text-align: center;
    margin-top: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__Button {
      height: 28px;
      margin-top: 24px;
    }

    &__IconBox {
      height: 120px;
      &__Icon {
        width: 60;
        height: 60;
        color: #8cc64b;
      }
    }
  }

  &__Column {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    @media (min-width: 200px) and (max-width: 550px) {
      padding-top: 8px;
    }

    &__Left {
      width: 500px;
      height: 400px;
      position: sticky;
      top: 65px;

      @media (min-width: 200px) and (max-width: 1100px) {
        display: none;
      }
    }

    &__Middle {
      width: 100%;
      padding: 80px 0 0 30px;
      overflow: auto;
      margin-bottom: 40px;
      margin-right: 40px;
      position: relative;
      height: inherit;
      @media (min-width: 200px) and (max-width: 1100px) {
        padding: 0 18px;
      }
      @media (min-width: 200px) and (max-width: 550px) {
        padding: 0 18px;
        width: 100%;
        margin-right: 0px;
      }
      &__Header {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 12px;
        font-family: $primaryfont;
      }
      &__Item {
        height: 120px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        // padding-bottom: 42px;
        padding-top: 16px;
        border-bottom: 1px solid #dedede;
        @media (min-width: 200px) and (max-width: 550px) {
          flex-direction: column;
          height: auto;
        }

        &__One {
          height: 100px;
          display: flex;
          margin-bottom: 12px;

          &__ImageBox {
            height: inherit;
            margin-right: 24px;
            width: 100px;
            &__Image {
              height: inherit;
              width: inherit;
              object-fit: contain;
            }
          }
        }

        &__Two {
          display: flex;
          margin-left: auto;
          width: 50%;
          justify-content: space-between;
          @media (min-width: 200px) and (max-width: 550px) {
            margin-left: auto;
            width: 100%;
          }
          &__Quantity {
            display: flex;
            // border: 1px solid #dedede;
            height: fit-content;
            // box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 12%),
            // 	0 0.125rem 0.25rem 0 rgb(0 0 0 / 8%);

            &__Chip {
              font-size: 14px;
            }

            &__Number {
              padding: 0px 12px;
              margin: auto 0;
            }
          }

          &__Price {
            // margin-left: 12px;
            margin-top: 0px;
            &__MainPrice {
              margin-top: -6px;
              color: #d90000;
              font-weight: bold;
              font-size: 20px;
            }
            &__OtherPrice {
              font-size: 12px;
              color: #bbbbbb;
            }
          }

          &__Button {
            height: 32px;
          }

          &__Buttonn {
            margin-left: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          &__Buttony {
            // margin-left: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
}

.nav {
  width: 200px;
}
