@charset "utf-8";

@viewport {
	width: device-width;
}

@import "../../stylesDef/index.scss";

.notificationMessage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .right{
        button{
            background-color: black;
            color: white;
            border: none;
            padding: 0px 20px;
            border-radius: 5px;
        }
    }

    .left{
        display: flex;
        align-items: center;
        * {
            margin-bottom: 0px;
        }
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
}