@import "../variable";

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    background-image: linear-gradient(#f5fff5, #e7efe8);
    z-index: 1400;

    .content {
        width: fit-content;
        min-width: fit-content;
        height: fit-content;
        min-height: fit-content;
        display: flex;
        flex-direction: column;

        .logo,
        .illustrator {
            width: 100px;
            height: 100px;
            display: flex;
            background-image: url(../../assets/brand/site_logo.png);
            background-size: contain;
            background-position: center;
        }

        .illustrator {
            width: 280px;
            height: 280px;
            background-image: url(../../assets/images/page-lost.svg);
            background-repeat: no-repeat;
            justify-content: center;
            background-size: cover;
            align-self: center;
        }

        .txt {
            width: 100%;
            height: fit-content;
            justify-content: center;
            display: flex;
            text-align: center;
            text-transform: uppercase;
            font-size: larger;
            font-weight: bold;
            padding: 0 10px;
        }

        .btn {
            width: 40%;
            height: 50px;
            min-width: 120px;
            max-width: 300px;
            background: $primaryBlue;
            border-radius: 10px;
            color: white;
            align-self: center;
            font-size: 1.1em;

            &:disabled {
                background-color: lighten($color: $primaryBlue, $amount: 20);
            }

            @media (max-width: 600px) {
                font-size: .9em;
                height: 50px;
            }
        }


        .loaderSpinner {
            width: 50px;
            height: 50px;
            display: flex;
            align-self: center;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
    }
}