@charset "utf-8";

@viewport {
    width: device-width;
}

@import "../../../stylesDef/index.scss";

.MicroBlog {
    max-width: 700px;
    height: 100%;
    background-color: var(--background-white);
    margin: auto;

    &__Bracer {
        width: 100%;
        margin: auto;

    }

    &__Column {
        padding-top: 20px;
        width: 100%;
        display: flex;
        // flex-flow: row nowrap;
        // justify-content: space-between;

        @media (min-width: 200px) and (max-width: 550px) {
            padding-top: 8px;
        }

        &__Left {
            width: 500px;
            height: 500px;
            position: sticky;
            top: 65px;

            @media (min-width: 200px) and (max-width: 1100px) {
                display: none;
            }
        }

        &__Middle {
            width: 100%;
            padding: 0 30px;
            overflow: auto;
            // margin: auto;




            &__Nocontent {
                font-family: $primaryfont;
                color: var(--fontcolor-light);
                height: 200px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                font-size: 12px;
            }
        }

        &__Right {
            width: 500px;
            height: 500px;
            position: sticky;
            top: 65px;

            @media (min-width: 750px) and (max-width: 1100px) {
                width: 320px;
                padding-left: 20px;
            }

            @media (min-width: 200px) and (max-width: 750px) {
                display: none;
            }

            &__Button {
                width: 60%;
                height: 35px;
                text-align: center;
                margin: 40px auto 0 auto;
                color: #fff;
            }
        }
    }
}

@media (min-width: 750px) and (max-width: 1100px) {}

@media (min-width: 550px) and (max-width: 750px) {}

@media (min-width: 200px) and (max-width: 550px) {}

.imagepreview {
    display: flex;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    &__rightcontainer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white !important;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: .8);

        &__downbutton {
            position: absolute;
            bottom: 20px;
            font-size: x-large;
            bottom: 20px;
            display: flex;
            justify-content: space-between;
            // align-items: center;

            &__button {
                // margin-left: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                cursor: pointer;

                &:hover {

                    background-color: rgba(52, 64, 55, 0.77);
                }
            }
        }

        &__image {
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain
        }

        &__button {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: rgba(52, 64, 55, 0.77);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
                background-color: rgba(32, 39, 33, 0.77);
            }
        }

        &__close {
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 2;
        }

        &__expand {
            position: absolute;
            top: 20px;
            right: 20px;
            color: #fff;
            z-index: 2;

            .fa {
                font-size: 30px;
            }
        }
    }

    &__leftcontainer {
        padding: 20px;
        width: 500px;
        overflow-y: auto;
        background-color: var(--background-white);

        &__profilecontainer {
            margin-bottom: 30px;
            display: flex;

            &__image {
                width: 43px;
                height: 43px;
                padding: 2px;
                border: 1px solid $primarycolor2;
                border-radius: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            &__text {
                margin-left: 20px;

                p {
                    margin-bottom: 0px;
                    color: inherit;
                }

                span {
                    font-size: 12px;
                }
            }
        }

        &__posttext {
            font-size: 24px !important;
            font-family: "Segeo UI", Tahoma, Geneva, Verdana, sans-serif;
        }

        &__count {
            margin-top: 20px;
        }

        &__date {
            color: rgb(91, 112, 131);
            margin-top: 16px;
            padding-bottom: 16px;
            border-bottom: 1px solid rgb(235, 238, 240);
        }

        &__buttons {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

    }
}