@charset "utf-8";
@viewport {
	width: device-width;
}
@import "../../stylesDef/index.scss";

.Products {
	width: 100%;
	font-family: $primaryfont;

	&__ProductRow {
		width: 100%;
		margin-bottom: 40px;

		&__Title {
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin-bottom: 12px;

			&__Category {
				font-size: 1.2rem;
				font-weight: bold;
				color: #000000;
				@media (min-width: 200px) and (max-width: 550px) {
					font-size: 1.2rem;
				}
			}

			&__SeeAll {
				color: #d90000;
				font-size: 0.8rem;
				font-weight: bold;
				margin: auto 0px;
				@media (min-width: 200px) and (max-width: 550px) {
					font-size: 0.8rem;
				}
			}
		}
	}

	&__Stack {
		display: grid;
		width: 100%;
		grid-row: 1fr;
		gap: 16px;
		margin-bottom: 24px;
		grid-template-columns: repeat(4, 1fr);

		@media (min-width: 200px) and (max-width: 550px) {
			grid-template-columns: repeat(2, 1fr);
			gap: 8px;
		}

		&__Card {
			// width: 288px;
			height: 330px;
			background: #f3f3f3;

			border-radius: 6px;
			// padding: 12px;

			&:hover {
				box-shadow: 0px 2px 10px #00000029;
			}

			&__Item {
				// box-shadow: 0px 2px 10px #00000029;
				border-radius: 20px;
				width: 100%;
				height: 200px;
				margin: 0 auto 12px;
				position: relative;

				&__Image {
					width: 100%;
					height: 100%;
					border-radius: 4px;
					object-fit: cover;
				}
				&__Heart {
					width: 28px;
					height: 28px;
					position: absolute;
					right: 8px;
					top: 8px;
					color: red;
				}
			}

			&__ProductName {
				font-weight: 400;
				padding: 0 12px;
				font-size: 16px;
			}

			&__Block {
				display: flex;
				justify-content: space-between;
				padding: 0 12px;

				&__Price {
					font-size: 16px;
					color: #353535;
					font-weight: 600;
					margin-bottom: 4px;
				}

				&__Image {
					width: 28px;
					height: 28px;
					color: red
				}
			}

			&__Review {
				display: flex;
				margin-top: 1px;
				padding: 0 12px;

				&__Star {
					width: 10px;
					height: 10px;
					margin-right: 2px;
				}
			}
		}
	}
}
