@charset "utf-8";

@viewport {
  width: device-width;
}

@import "../../stylesDef/index.scss";

.Bracer {
  width: $pageWidth;
  margin: 0 auto;
}

.IButton {
  width: 100%;
  height: inherit;
  border: none;
  border-radius: 20px;
  font-family: $primaryfont;
}

.floating {
  position: fixed;
  display: inline-block;
  width: auto;
  bottom: 10%;
  padding: 10px 20px;
  right: 10%;
  display: none;


  @media screen and (max-width: 750px) {
    display: block;
  }
}

.Button {


  &__primary {
    @extend .IButton;
    background-color: $primarycolor;
    color: $fontcolor-white;

    &:hover {
      opacity: 0.9;
    }

  }

  &__secondary {
    @extend .IButton;
    background-color: $fontcolor;
    color: $fontcolor-white;

    &:hover {
      opacity: 0.9;
    }
  }

  &__navy {
    @extend .IButton;
    background-color: #2E8CCB;
    color: $fontcolor-white;
    border-radius: 10px !important;

    &:hover {
      opacity: 0.9;
    }
  }

  &__primaryalt {
    @extend .IButton;
    background-color: var(--background-white);
    color: $primarycolor;

    &:hover {
      opacity: 0.9;
    }

  }

  &__cancel {
    @extend .IButton;
    background-color: rgb(172, 169, 169);
    color: rgb(99, 96, 96);

    &:hover {
      opacity: 0.9;
    }
  }

  &__monochrome {
    @extend .IButton;
    background-color: rgb(211, 205, 205);
    color: rgb(51, 50, 50);

    &:hover {
      opacity: 0.9;
    }
  }

  &__nav {
    background: #2E8CCB;
    border-radius: 10px !important;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    position: relative;

    i {
      font-size: 16px;
    }

    @media (max-width:750px) {
      margin-left: 0px !important;
    }
  }

  &__dark {
    background: #8CC64B;
    border-radius: 10px !important;
    border: none;
    color: white;
    padding: 13px 40px;
    font-size: 12px;
    margin-left: 30px;
    position: relative;
    text-transform: uppercase;

    @media (max-width:750px) {
      margin-left: 0px !important;
    }
  }

  &__count {
    top: -10px;
    position: absolute;
    padding: 3px;
    border-radius: 50%;
    height: fit-content;
    min-width: 25px;
    background-color: $black;
    color: var(--background-white);
    font-size: 12px;
    text-align: center;
  }

  &__gray {
    max-width: 200px;
    background: #F7F7F7;
    border: 1px solid #C1C1C1;
    border-radius: 15px;
    font-size: 13px;
    padding: 5px 30px;
    color: #6A6A6A;

    @media screen and (max-width: 400px) {
      padding: 5px 20px;
    }

    @media screen and (max-width: 350px) {
      padding: 5px 15px;
    }
  }

}