@charset "utf-8";
@viewport { width: device-width; }
@import "../../../stylesDef/index.scss";

.messageCard{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    clear: both;

    img{
        margin-right: 5px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        align-self: flex-end;
    }

    &__message{
        padding: 10px 20px;
        min-width: 100px;
        border-radius: 30px;
        background-color: rgb(231, 231, 231);
        color: gray;
    }
}

.messageCard.outgoing{
    float: right;
    clear: both;
}