@charset "utf-8";
@viewport { width: device-width; }
@import "../../../stylesDef/index";

.loaderr {
	align-content: center;
	align-items: center;
	background-color: rgba(rgb(250, 250, 249), 0.4);
	display: flex;
	height: 100vh;
	justify-content: center;
	justify-items: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 999;

	&__content{
		position: relative;
		line-height: to-rem(50px);

		&:before{
			animation: spin .75s linear infinite;
			border: 7.5px solid rgba(rgb(245, 245, 247), 0.25);
			border-radius: 50%;
			border-right-color: rgba(#0d80b6, 0.9);
			box-sizing: border-box;
			content: "";
			display: inline-block;
			float: left;
			left: 0;
			right: 0;
			height: 75px;
			width: 75px;
		}

		&-text{
			color: blue;
			float: left;
			font-weight: bold;
			margin: 0 0 0 20px;
		}
	}
}

@keyframes spin {
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

 
@media (min-width: 750px) and (max-width:1100px) {

   

}

/************* style display for screen not more than 739px and min of 510px    Breakpoint 3  ******/
@media (min-width: 550px) and (max-width:750px) {

    
}



/************* style display for screen not more than 509px and min of 300px     Breakpoint 4  ******/
@media (min-width: 200px) and (max-width:550px) {

  
      
} 

