@import "../../stylesDef/index.scss";

.ActiveTab {
    border-bottom: 2px solid $primarycolor;

    @media (min-width: 200px) and (max-width:750px) {
        border: none;
        border-bottom: 2px solid $primarycolor;
    }

}

.Account {
    width: 100%;
    font-family: $primaryfont;
    padding-bottom: 50px;
    margin: 0 auto 50px auto;
    background-color: var(--background-white);
    // border: 1px solid $outline-light;
    // border-radius: 5px;
    // display: flex;
    // flex-flow: row nowrap;
    // justify-content: space-between;

    @media (min-width: 200px) and (max-width:1100px) {
        width: 90%;
    }

    @media (min-width: 200px) and (max-width:750px) {
        display: block;
    }

    &__Top {
        // width: 250px;
        // padding: 10px 0;
        font-family: $primaryfont;
        text-align: center;
        // border-right: 1px solid $outline-light;

        @media (min-width: 200px) and (max-width:750px) {
            font-size: 12px;
            width: 100%;
            border-bottom: 1px solid $outline-light;
        }

        &__Tab {

            &__edit-profile {
                @extend .ActiveTab;
            }

            &__change-password {
                @extend .ActiveTab;
            }

            &__update-interests {
                @extend .ActiveTab;
            }

        }

        ul {
            width: 100%;
            display: flex;
            text-align: center;
            justify-content: space-evenly;

            @media (min-width: 200px) and (max-width:750px) {
                height: 38px;
            }

            li {
                padding: 5px 10px;
                margin: 10px 0;
                cursor: pointer;

                @media (min-width: 200px) and (max-width:750px) {
                    display: inline-block;
                    padding-bottom: 15px;
                }

                &:hover {
                    // padding-left: 8px;
                    // border-left: 2px solid rgb(179, 177, 177);
                    opacity: .8;

                    @media (min-width: 200px) and (max-width:750px) {
                        border: none;
                        border-bottom: 2px solid rgb(179, 177, 177);
                    }
                }
            }
        }
    }



    &__Right {
        width: 100%;
        padding-bottom: 40px;
        position: relative;

        @media (min-width: 200px) and (max-width:750px) {
            width: 100%;
        }



        &__Logout {
            width: 100px;
            margin: 0 0 0 auto;
            padding: 20px;
            cursor: pointer;

            &:hover {
                color: $primarycolor;
            }

            table {
                width: 100%;
            }

            &__Text {
                font-size: 14px;
                padding-right: 5px;
            }

            &__Icon {
                font-size: 18px;
            }

        }

        &__Wrapper {

            // @media (min-width: 200px) and (max-width:1100px) {
            //   width: 85%;
            // }

        }

        &__Row {
            width: 80%;
            margin: 30px auto 0 auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;

            @media (min-width: 200px) and (max-width:750px) {
                width: 100%;
            }

            &__Left {
                width: 150px;
                text-align: right;
                padding-right: 20px;
                padding-top: 5px;
                font-weight: bold;

                section {
                    width: 50px;
                    height: 50px;
                    margin: -30px 0 0 auto;
                    border-radius: 50%;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }


            }


            &__Bottom {
                width: 100%;

            }
        }


        &__Interests {
            // width: 514px;
            margin: 0px auto 0px auto;
            font-family: $primaryfont;

            @media (min-width: 200px) and (max-width:1100px) {
                width: 100%;
            }

            &__Wrapper {
                width: 100%;
                padding: 10px;
                overflow-y: hidden;
                // border: 2px solid $outline-light;
                // border-radius: 3px;
                padding: 20px 0 0 15px;
                margin-bottom: 30px;
            }

            &__Title {
                font-size: 14px;
                color: $primarycolor;
                margin-bottom: 10px;
                font-weight: bold;
            }


            &__Interest {
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 30px;
                cursor: pointer;
                width: 60px;
                height: 70px;

                &__Active {
                    border: 2px solid $primarycolor;
                }

                div {
                    padding: 8px;
                    border-radius: 5px;
                    width: 60px;
                    height: 60px;

                    &:hover {
                        border: 2px solid $primarycolor;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                }

                h6 {
                    margin-top: 5px;
                    font-size: 9px;
                    text-align: center;
                    white-space: nowrap;
                }
            }

            &__Button {
                width: 80px;
                height: 30px;
                margin-right: 20px;
                margin: 0 auto;

            }
        }
    }
}