@import "../variable.scss";
@import "../../styles/variable.scss";

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
}

.follow_container {
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 100px 2% 5% 2%;

    .center {
        width: 100%;
        height: 70vh;
        color: $primaryGreen;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
    }

    .error_icon,
    ._icon {
        width: 40px;
        height: 40px;
        color: var(--fontColor);
    }

    .error_icon {
        color: #e76060;
    }

    .error_txt,
    .txt {
        width: 100%;
        min-width: 100%;
        height: fit-content;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-self: center;
        font-size: 1.5em;
        color: var(--fontColor);
    }

    .error_txt {
        color: #e76060;
    }

    .main_head {
        width: 100%;
        height: fit-content;
        min-width: 100%;
        min-height: fit-content;
        display: flex;
        margin: 0 0 30px 0;

        .btn {
            background-color: var(--background-green-light);
            color: var(--fontColor);
        }

        h3 {
            width: fit-content;
            height: 100%;
            display: flex;
            align-self: center;
            justify-content: center;
            align-items: center;
            margin: 0 0 0 20px;
        }
    }

    .content {
        width: 100%;
        height: fit-content;
        margin: 10px;
        background-color: rgba($color: #000000, $alpha: 0.02);
        padding: 5px 10px;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;

        .avatar {
            width: 70px;
            height: 70px;
            min-width: 70px;
            min-height: 70px;
            display: flex;
            margin: 0 20px 0 0;
            background-color: #d6ebbf3d;
            border-radius: 10px;
            font-size: 2em;
            font-weight: 700;
            justify-content: center;
            align-items: center;
            align-self: center;
        }

        .detail {
            width: calc(100% - 90px);
            min-width: calc(100% - 90px);
            height: 100%;
            min-height: 100%;
            align-items: center;
            align-self: center;
            display: flex;

            h4 {
                font-size: 1.1em;
            }
        }

        .action {
            width: 100%;
            height: fit-content;
            min-width: 100%;
            min-height: fit-content;
            display: flex;

            .btn {
                flex: 1;
                display: flex;
                margin: 10px 10px 5px 10px;
                height: 45px;
                color: var(--fontColor);

                &:nth-of-type(1) {
                    background-color: lighten($color: $primaryBlue, $amount: 40);
                }

                &:nth-of-type(2) {
                    background-color: lighten($color: $primaryGreen, $amount: 40);
                }

                &:nth-of-type(3) {
                    background-color: lighten($color: #202020, $amount: 80);
                }
            }

        }
    }
}