@import "../variable.scss";
@import "../../styles/variable.scss";

.MarketPlace {
  margin-top: 80px;
  position: relative;
  margin-left: 300px;
  margin-right: auto;
  width: calc(100% - 300px);
  height: auto;
  padding: 0 3% 50px;

  .inputBox {
    width: 100%;
    height: min-content;
    min-height: min-content;
    display: flex;
    flex-direction: column;
    padding: 5px 1%;

    &.verify {
      align-items: center;

      label {
        width: 100%;
        min-width: 100%;
        justify-content: center;
        text-align: center;
      }

    }

    label {
      width: fit-content;
      height: fit-content;
      min-height: fit-content;
      padding: 5px 0 10px 20px;
      font-size: 1.1em;
    }

    * {
      div {
        background-color: transparent;
      }

      div::after,
      div::before {
        display: none;
      }
    }

    .inputField {
      >div {
        background-color: #F9F9F9;
      }

      &.select {
        border-radius: 10px;
        padding: 5px 10px;
      }

      input {
        font-size: 1em;
      }

      .btn {
        svg {
          width: 24px;
          height: 24px;
          fill: $primaryBlue;
          color: $primaryBlue;
        }

        &.dark {
          svg {
            fill: #202020;
            color: #202020;
          }
        }
      }

      * {
        border: none !important;
      }
    }

    .submit_btn {
      width: 50%;
      height: 50px;
      min-width: 180px;
      max-width: 400px;
      background: $primaryGreen;
      border-radius: 10px;
      color: white;
      align-self: center;
      font-size: 1.1em;
      margin: 0 auto;

      &:disabled {
        background-color: lighten($color: $primaryGreen, $amount: 20);
      }

      @media (max-width: 600px) {
        font-size: .9em;
        height: 50px;
      }
    }

    @media (max-width: 600px) {
      padding: 10px 10%;

      label {
        font-size: .9em;
      }

      .inputField {

        input {
          font-size: .9em;
        }
      }
    }

    @media (max-width: 450px) {
      padding: 10px 5%;
    }

  }

  .submit_btn {
    width: 50%;
    height: 50px;
    min-width: 180px;
    max-width: 400px;
    background: $primaryGreen;
    border-radius: 10px;
    color: white;
    align-self: center;
    font-size: 1.1em;
    margin: 50px auto 0 auto !important;
    align-self: center;
    display: flex;

    &:hover {
      background-color: darken($color: $primaryGreen, $amount: 10);
    }

    &:disabled {
      background-color: lighten($color: $primaryGreen, $amount: 20);
    }

    @media (max-width: 600px) {
      font-size: .9em;
      height: 50px;
    }
  }

  @media (min-width: 200px) and (max-width: 1100px) {
    margin-left: 0px;
    width: 100%;
  }

  &__Slider {
    height: 456px;
    margin-bottom: 24px;

    @media (min-width: 200px) and (max-width: 1100px) {
      height: 250px;
    }
  }

  .title {
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    display: flex;
    font-size: 1.1em;
    font-weight: 600;
  }

  .sub_title {
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    font-size: 1.2em;
    font-weight: 600;
    background-color: var(--background-content);
    height: 50px;
    min-height: 50px;
    display: flex;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    color: var(--fontColor);
  }

  &__Column {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    top: 50%;
    left: 0;
    right: 0;
    align-content: center;
    z-index: +20;
    position: absolute;
  }

  &__HeaderImage {
    width: 100%;
    height: 456px;

    @media (min-width: 200px) and (max-width: 1100px) {
      height: 250px;
    }
  }

  .tab-bar {
    background-color: var(--background-2) !important;
    box-shadow: 0 0 0 transparent;
    border-radius: 10px;
    max-width: 400px;
    max-width: auto;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 1000px) {
      transform: translateX(-80%);
    }

    @media (max-width: 700px) {
      transform: translateX(-50%);
    }

    button {
      width: 50%;
      max-width: 50%;
      min-width: 50%;
      flex: 1;
      color: var(--fontColor);

      @media (max-width: 450px) {
        font-size: 0.7em;
      }

      &.Mui-selected {
        color: var(--fontColor);
      }
    }

    .MuiTabs-indicator {
      height: 100%;
      width: 50% !important;
      border-radius: 10px;
      background-color: $primaryGreen;
      opacity: 0.3;
    }

    .MuiTab-wrapper {
      flex-direction: row;
      justify-content: space-evenly;
    }

    .MuiTab-labelIcon {
      min-height: 0px;
    }
  }
}

.middle-content {
  .center {
    width: 100%;
    height: 70vh;
    color: $primaryGreen;
    display: flex;
    justify-content: space-evenly;
    align-content: center;

    ._icon {
      width: 40px;
      height: 40px;
      color: var(--fontColor);
    }

    .txt {
      width: 100%;
      min-width: 100%;
      height: fit-content;
      justify-content: center;
      align-items: center;
      text-align: center;
      align-self: center;
      font-size: 1.5em;
      color: var(--fontColor);
    }
  }

  .MarketPlace {
    margin-left: 0;
    width: 100%;

    .center_loader {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      align-items: center;
      align-self: center;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    h3.center_loader {
      width: 70%;
      min-width: 290px;
    }

    @media (max-width: 1300px) {
      .Products__Stack {
        grid-template-columns: repeat(3, 1fr)
      }
    }

    @media (max-width: 1100px) {
      .Products__Stack {
        grid-template-columns: repeat(2, 1fr)
      }
    }
  }
}

.category_list.category_min {
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  padding: 10px 5px;
  justify-content: space-between;


  .content_content {
    width: calc(33% - 15px);
    height: calc(calc(100vw - 320px) / 3);
    min-width: calc(33% - 15px);
    min-height: calc(calc(100vw - 320px) / 3);
    display: flex;
    flex-direction: column;

    @media (max-width: 600px) {
      height: calc(100vw / 3);
      min-height: calc(100vw / 3);
    }

    &:hover {
      .txt_name {
        text-decoration: underline;
      }
    }

    .image {
      width: 90%;
      height: calc(100% - 50px);
      min-width: 90%;
      min-height: calc(100% - 50px);
      display: flex;
      border-radius: 10px;
      justify-content: center;
      align-self: center;
      align-content: center;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        background-color: var(--fontColor);
        border-radius: 10px;
        opacity: 0.09;
      }

      span {
        width: 75%;
        height: 75%;
        min-width: 75%;
        min-height: 75%;
        display: flex;
        border-radius: 10px;
        background-size: contain;
        background-position: center;
        align-self: center;
        background-repeat: no-repeat;
      }
    }

    .txt_name {
      width: 100%;
      height: fit-content;
      min-height: fit-content;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 5px;
      color: var(--fontColor)
    }
  }
}

.m_container {
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 30px 0px 10px 0px;

  .m_content {
    width: 100%;
    height: 320px;
    min-height: 320px;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    padding: 0 20px;
    scrollbar-width: 0;


    &::-webkit-scrollbar {
      width: 0;
      display: none;
    }
  }
}


.content_m {
  width: 200px;
  height: 270px;
  display: flex;
  margin: 10px 15px;
  border-radius: 10px;
  flex-direction: column;
  transform: scale(0.98);

  &:nth-of-type(1) {
    margin-left: 0;
  }


  &::before {
    content: "";
    position: absolute;
    top: 60%;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    background-color: var(--itemColor);
    border-radius: 10px;
    transition: ease-in-out .4s;
    box-shadow: 0 5px 10px 0px rgba($color: #000000, $alpha: 0.0);
  }

  &:hover {
    transform: scale(1);

    * p {
      // transition: none;
      color: white !important;
    }

    &::before {
      background-color: $primaryGreen;
      box-shadow: 0 15px 20px 10px rgba(0, 0, 0, 0.09);
    }
  }

  .image {
    width: 180px;
    height: 180px;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;

    span {
      width: 90%;
      height: 90%;
      display: flex;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .details {
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 5px 10px;

    .name {
      width: 100%;
      min-width: 100%;
      height: fit-content;
      min-height: fit-content;
      display: flex;
      font-weight: 400;
      font-size: .9em;
      padding: 0;
      margin: 0;
      color: var(--fontColor);
    }

    .price {
      padding: 0;
      margin: 0;
      width: 100%;
      min-width: 100%;
      height: fit-content;
      min-height: fit-content;
      display: flex;
      font-weight: 700;
      font-size: 1.3em;
      color: $primaryGreen;

      .discountPrice {
        font-weight: 500;
        font-size: .7em !important;
        opacity: 0.7;
        text-decoration: line-through;
        display: flex;
        align-items: center;
        margin-left: 5px;
      }
    }

    .star_rating {
      width: 100%;
    }
  }

  .link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 5;
  }

  .center {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 11;
    pointer-events: none;
    border-radius: 10px;
    background-color: rgba($color: #000, $alpha: 0.2);
    opacity: 0;

    &.loading {
      opacity: 1;
      pointer-events: visible;
    }
  }

  .counter {
    width: 100%;
    height: 40px;
    min-height: 40px;
    margin-bottom: 10px;
    padding: 0 10px;
    display: flex;
    justify-content: space-evenly;
    z-index: 10;

    button {
      width: 40px;
      height: 40px;
      min-width: 40px;
      min-height: 40px;
      font-size: 1.5em;
      background-color: lighten($color: #000000, $amount: 90);
      color: var(--fontColor);
    }

    .count {
      width: fit-content;
      height: fit-content;
      min-width: 40px;
      min-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      font-size: 1.1em;
      color: var(--fontColor);
      font-weight: 600;
    }
  }
}

.market_place_header {
  width: 100%;
  height: fit-content;
  min-width: 100%;
  min-height: fit-content;
  display: flex;
  margin: 0 0 30px 0;

  .btn {
    background-color: var(--background-green-light) !important;
    color: var(--fontColor);
    justify-content: center;

    &:hover {
      opacity: 0.8;
    }

    svg {
      position: relative;
      left: 5px;
    }

  }

  .s_title {
    width: fit-content;
    height: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 20px;
  }
}


a.sub_list {
  padding: 5px 10px;
  font-size: 1.1em;
  color: var(--fontColor);
  display: flex;
  align-content: center;
  align-items: center;

  .image {
    position: relative;
    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
    display: flex;
    margin: 0 10px 0 0;
    border-radius: 10px;
    background-color: rgba($color: #000000, $alpha: 0.08);
    justify-content: center;

    span {
      width: 30px;
      height: 30px;
      min-width: 30px;
      min-height: 30px;
      max-width: 30px;
      max-height: 30px;
      display: flex;
      background-position: center;
      background-size: cover;
      align-self: center;
    }
  }

  &:hover {
    text-decoration: underline !important;
  }
}

.category_min {
  @media (min-width: 1000px) {
    display: none !important;
  }
}

.container_m {
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &>div {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.checkout_m {
  position: sticky;
  bottom: 0;
  width: 100%;
  min-width: 100%;
  height: 100px;
  display: flex;
  background-color: darken($color: $primaryGreen, $amount: 35);
  border-radius: 10px 10px 0 0;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0 2%;

  .total {
    width: fit-content;
    min-width: fit-content;
    height: fit-content;
    min-height: fit-content;
    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
    color: white;
  }

  button {
    color: white;
    background-color: rgba(255, 255, 255, 0.35) !important;
    font-weight: 600;

    a {
      color: white !important;
    }

    &:hover {
      a {
        text-decoration: underline !important;
      }
    }
  }

  // @media (min-width: 200px) and (max-width: 1100px) {
  //   margin-left: 0px;
  //   width: 100%;
  // }

  .total {
    width: fit-content;
    min-width: fit-content;
    height: 50px;
    display: flex;
    font-size: 2em;
    font-weight: 600;
  }
}