@import "../variable.scss";
@import "../../styles/variable.scss";

.Notifications {
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    padding: 100px 5%;

    .title {
        width: 100%;
        height: fit-content;
        min-height: fit-content;
        display: flex;
        font-size: 1.3em;
        font-weight: 600;
        padding-bottom: 20px;
    }

    .sub_title {
        width: 100%;
        height: fit-content;
        min-height: fit-content;
        display: flex;
        font-size: 1.1em;
        font-weight: 600;
        padding-bottom: 20px;
    }

    ul {
        width: 100%;
        height: fit-content;
        min-height: fit-content;
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0px;
        padding: 0px;

        li {
            width: 100%;
            height: fit-content;
            min-height: fit-content;
            padding: 5px 10px;
            margin: 4px;
            display: flex;

            &.active {
                background-color: var(--background-green-light-2);
                border-radius: 10px;
            }

            .avatar {
                width: 40px;
                height: 40px;
                display: flex;
                border-radius: 40px;
                background-color: rgb(219, 219, 219);
            }

            p {
                flex: 1;
                display: flex;
                align-items: center;
                padding: 0 15px;
                margin-bottom: 0px;
            }

            button {
                height: 30px;
                background-color: $primaryGreen;
                color: white;
                border: none;
                padding: 0px 20px;
                border-radius: 5px;
                align-self: center;
            }
        }
    }
}