@import "../variable.scss";

.Profile_page {
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    padding: 100px 5%;

    .MuiBox-root-9 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .MuiBox-root-12 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .Gallery {
        line-height: 0;

        -webkit-column-count: 3;
        -webkit-column-gap: 0px;
        -moz-column-count: 3;
        -moz-column-gap: 0px;
        column-count: 3;
        column-gap: 0px;

        .Container {
            position: relative;
            margin: 3px;
            display: grid;

            .Text {
                min-height: fit-content;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #e9f7ed;
                background: linear-gradient(120deg, #e9f7ed 20%, #c6e7fd 100%);
                border-radius: 20px;
                color: #000000;
                padding: 10px;
                line-height: 1.5;
                padding: 2rem 1rem;

            }

            &:hover .Reaction {
                visibility: visible;
                opacity: 1;
            }

            img {
                /* Just in case there are inline attributes */
                width: 100% !important;
                height: auto !important;
                border-radius: 20px;
                cursor: pointer;
            }

            .Reaction {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                top: 0;
                bottom: 16px;
                left: 0;
                right: 0;
                background: rgba(29, 106, 154, 0.72);
                color: #fff;
                visibility: hidden;
                opacity: 0;
                border-radius: 20px;
                cursor: pointer;

                /* transition effect. not necessary */
                transition: opacity .2s, visibility .2s;

                div {
                    flex-direction: row-reverse;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p {
                        margin-bottom: 0px;
                        margin-left: 10px;
                    }
                }
            }
        }


        @media (max-width: 1200px) {

            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;

        }

        @media (max-width: 1000px) {

            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;

        }

        @media (max-width: 800px) {

            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;

        }

        @media (max-width: 400px) {

            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;

        }
    }

    .title {
        width: 100%;
        height: 60px;
        min-height: 60px;
        display: flex;
        justify-content: space-between;
        padding: 0 2%;

        .title_txt {
            width: fit-content;
            min-width: fit-content;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 1.1em;
            font-weight: 600;
        }

        .btn {
            width: 50px;
            height: 50px;
            min-width: 50px;
            min-height: 50px;
            color: $primaryBlue;

            svg {
                width: 30px;
                min-width: 30px;
                height: 30px;
                min-height: 30px;
            }
        }
    }

    .profile_header {
        width: 100%;
        max-width: 600px;
        height: 120px;
        min-height: 120px;
        display: flex;
        justify-content: space-between;
        padding: 0 2%;

        .avatar {
            width: 100px;
            height: 100px;
            min-width: 100px;
            min-height: 100px;
            display: flex;
            border-radius: 10px;
            background-color: rgb(241, 241, 241);
            padding: 15px;
            border: 2px black solid;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                display: flex;
                background-image: url('../../assets/images/user.png');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        .col {
            width: fit-content;
            min-width: fit-content;
            min-height: fit-content;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;

            .count {
                justify-content: center;
                display: flex;
                text-align: center;
                font-size: 2em;
                font-weight: 700;
            }

            .name {
                justify-content: center;
                display: flex;
                text-align: center;
                font-size: .9em;
                margin: 10px 0 0 0;
            }
        }
    }

    .profile_desc {
        width: 100%;
        height: fit-content;
        min-height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 0 2%;

        .desc_title {
            width: fit-content;
            min-width: fit-content;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 1.2em;
            font-weight: 600;
        }

        .desc_txt {
            width: fit-content;
            min-width: fit-content;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 1em;
            font-weight: 500;
            color: #878787;
            padding-top: 15px;
        }
    }

    .profile_action {
        width: 100%;
        height: 40px;
        min-height: 40px;
        display: flex;
        margin-top: 15px;
        justify-content: space-evenly;

        .btn {
            padding-left: 20px;
            padding-right: 20px;
            background-color: #ececec;
            border-radius: 40px;

            @media (max-width: 1200px) {
                font-size: .8em;
                padding-left: 12px;
                padding-right: 12px;
            }

            @media (max-width: 999px) {
                padding-left: 20px;
                padding-right: 20px;
            }

            @media (max-width: 800px) {
                padding-left: 15px;
                padding-right: 15px;
            }

            @media (max-width: 500px) {
                font-size: .7em;
                padding-left: 7px;
                padding-right: 7px;
                height: 35px;
                min-height: 35px;
            }
        }
    }

    .tab-bar {
        background-color: var(--background-2);
        box-shadow: 0 0 0 transparent;
        margin-top: 30px;
        border-radius: 10px;

        button {
            width: 33%;
            max-width: 33%;
            min-width: 33%;
            flex: 1;
            color: var(--fontColor);

            @media (max-width: 450px) {
                font-size: .7em;
            }

            &.Mui-selected {
                color: var(--fontColor);
            }
        }

        .MuiTabs-indicator {
            height: 100%;
            width: 33% !important;
            border-radius: 10px;
            background-color: $primaryGreen;
            opacity: 0.3;
        }
    }
}