.Setting {
    margin-top: 50px;

    &__Holder {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translate(-50%);

        img {
            height: 110px;
            width: 110px;
            border-radius: 50%;
            border: 4px solid var(--fontColor);


        }

        &__IconHolder {
            padding: 5px;
            color: black;
            background-color: var(--fontColor);

            border-radius: 50%;
            border: 2px solid green;
            display: block;
            position: absolute;
            right: 0px;
            cursor: pointer;
            z-index: 2;

        }
    }

    &__Body {
        padding: 0px 50px;
        color: var(--fontColor);

        ul {
            margin-left: 0px;
            padding-left: 0px;
            margin-top: 50px;

            li {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
                align-items: center;
                cursor: pointer;

                .rigth {
                    display: flex;
                    align-items: center;

                    .icon {
                        margin-right: 16px;
                    }

                    p {
                        font-size: 18px;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}