@charset "utf-8";
@viewport { width: device-width; }
@import "../../../stylesDef/index.scss";


.Interests{
  width: 100%;
  font-family: $primaryfont;
  padding: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

    

  &__Interest{
    display: inline-block;
    margin-right: 10px;
    
    
    width: 60px;
    height: 70px;
    
    div{
      // padding:8px;
      border-radius: 50%;
      overflow: hidden;
      width: 48px;
      height: 48px;
      cursor: pointer;

      &:hover{
        border: 2px solid $primarycolor;
      }

    }

    &__Active{
      border: 2px solid $primarycolor;
    }
    &__Inactive{
      border: 2px solid $outline-light;
    }

    &__Add{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #2E8CCB;
      color: white;
    }

    img{
      width: 100%;
      height: 100%;
    }
    h6{
      margin-top: 5px;
      font-size: 9px;
      text-align: center;
      white-space: nowrap;
    }
  }
  
  
}

