@import "../../variable";

.ContentHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    background-color: var(--background);
    z-index: 1300;
    padding: 0 20px 0 0;

    .title_group,
    .action {
        width: 25%;
        min-width: 200px;
        max-width: 450px;
        display: flex;
        height: 100%;
        padding: 10px 40px 10px 20px;

        @media (max-width: 1000px) {
            padding: 10px 10px 10px 5px;
        }

        .logo {
            width: 60px;
            height: 100%;
            min-width: 60px;
            min-height: 100%;
            margin-right: 20px;
            display: flex;
            border-radius: 10px;
            background-image: url(../../../assets/brand/site_logo.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            @media (max-width: 1000px) {
                margin-right: 10px;
            }
        }

        .inputBox {
            width: 100%;
            background-color: var(--background-green-light-2);
            border-radius: 10px;

            input {
                padding-top: 8px;
                padding-bottom: 12px;
                font-size: 1.2em;
                color: var(--fontColor);
            }

            svg {
                width: 24px;
                height: 24px;
                fill: $primaryGreen;
                color: $primaryGreen;
            }

            * {
                border: none !important;
            }
        }
    }

    .title_group {
        @media (max-width: 1000px) {
            max-width: 1000px;
            flex: 1;
            padding-right: 0px;
        }

        .nav_btn {
            display: none;

            @media screen and (max-width: 1000px) {
                display: block;
            }
        }
    }

    .action {
        @media (max-width: 1000px) {
            max-width: fit-content;
            min-width: fit-content;
            width: fit-content;
        }
    }

    .links {
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: relative;

        .badge {
            position: absolute;
            top: -3px;
            right: -3px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20px;
            width: 20px;
            color: white;
            font-size: larger;

            background-color: $primaryGreen;
            border-radius: 50%;
        }

        @media (max-width: 1000px) {
            display: none;
        }

        .nav {
            width: 120px;
            min-width: 120px;
            height: 40px;
            display: flex;
            padding: 10px 5px;
            margin: 10px;
            align-self: center;
            justify-content: center;
            background-color: var(--background-2);
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            color: var(--fontColor);
            font-weight: 500;
            font-size: .8em;
            transition: background-color .4s;

            svg {
                width: 18px;
                height: 18px;
                margin-right: 5px;
                transition: all .2s;
            }

            &:hover {
                background-color: lighten($color: $primaryBlue, $amount: 30);
            }

            &.active {
                background-color: $primaryBlue;
                color: white;

                &:hover {
                    background-color: darken($color: $primaryBlue, $amount: 10);
                    color: #fff !important;
                }
            }
        }
    }

    .action {
        justify-content: flex-end;
        padding-right: 40px;

        @media (max-width: 1000px) {
            padding-right: 10px;
        }

        .cart_btn {
            width: 40px;
            max-width: 40px;
            min-width: 40px;
            background-color: $primaryBlue;
            color: white;
            border-radius: 10px;
            position: relative;

            .badge {
                position: absolute;
                top: -15px;
                right: -15px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 20px;
                width: 20px;
                color: white;
                font-size: larger;

                background-color: $primaryGreen;
                border-radius: 50%;
            }

            &.min {
                margin: 0 5px;

                @media (min-width: 1000px) {
                    display: none;
                }
            }
        }
    }

    .min_links {
        position: fixed;
        width: 95vw;
        height: fit-content;
        min-height: fit-content;
        display: flex;
        flex-direction: column;
        background-color: var(--background-2);
        margin: 0 2.5%;
        box-shadow: 0px 22px 20px #74747421;
        padding: 10px 15px;
        border-radius: 0 0 10px 10px;

        .nav {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            color: inherit;
            // border-bottom: 2px solid rgba(236, 236, 236, 0.527);
            border-radius: 0px;

            &.active {
                background-color: $primaryBlue;
                color: white;
                border-radius: 5px;

                &:hover {
                    background-color: darken($color: $primaryBlue, $amount: 10);
                    color: #fff !important;
                }
            }

            svg {
                width: 22px;
                height: 22px;
                min-width: 22px;
                min-height: 22px;
                margin: 0 10px;
            }
        }
    }

    .cover {
        position: fixed;
        top: 60px;
        width: 100vw;
        height: 100vh;
        display: flex;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.searchResult {
    width: 300px;
    position: fixed;
    top: 60px;
    left: 50px;
    background-color: var(--background-2);
    border-radius: 8px;
    z-index: 1150;

    @media (max-width: 1000px) {
        margin: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }

    @media (max-width: 500px) {
        width: 95%;
    }
}