.ContentLayout {
    width: 100vw;
    height: fit-content;
    min-height: fit-content;
    display: flex;

    .chat-middle-content {
        width: calc(100% - 300px);
        height: calc(100vh - 100px);
        position: fixed;

        @media screen and (max-width: 699px) {
            width: 100vw;
        }
    }

    .middle-content {
        margin: auto;
        width: 1050px;

        @media screen and (max-width: 1650px) {
            width: 1050px;
        }

        @media screen and (max-width: 1600px) {
            width: 1000px;
        }

        @media screen and (max-width: 1550px) {
            width: 900px;
        }

        @media screen and (max-width: 1450px) {
            width: 800px;
        }

        @media screen and (max-width: 1400px) {
            width: 750px;
        }

        @media screen and (max-width: 1350px) {
            width: 700px;
        }

        @media screen and (max-width: 1300px) {
            width: 650px;
        }

        @media screen and (max-width: 1250px) {
            width: 600px;
        }

        @media screen and (max-width: 1200px) {
            width: 530px;
        }

        @media screen and (max-width: 1140px) {
            width: 540px;
        }

        @media screen and (max-width: 1110px) {
            width: 450px;
        }

        @media screen and (max-width: 1050px) {
            width: 400px;
        }

        @media screen and (max-width: 1000px) {
            width: 650px;
            margin-left: 15px;
        }

        @media screen and (max-width: 880px) {
            width: 550px;
        }

        @media screen and (max-width: 830px) {
            width: 520px;
        }

        @media screen and (max-width: 830px) {
            width: 500px;
        }

        @media screen and (max-width: 770px) {
            width: 450px;
        }

        @media screen and (max-width: 730px) {
            width: 430px;
        }

        @media screen and (max-width: 700px) {
            width: 100%;
            margin: 0px;
        }
    }
}