.profileCard{
    display: flex;
    align-items: center;
    justify-content: space-between;

    img{
        cursor: pointer;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    &__text{
        cursor: pointer;
        display: flex;
        
       span{
           cursor: pointer;
           font-size: x-small;
       }
    }
}