@charset "utf-8";
@viewport { width: device-width; }
@import "../../../stylesDef/index.scss";


.ProfileAside{
  
  font-family: $primaryfont;
  
  &__Top{
    padding-top: 20px;
    width: 100%;
    height: 120px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;

    &__Belt{
      width: 100%;
      height: 40px;
     
    }

    &__Avatar{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 2px solid $primarycolor2;
      position: absolute;

      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

  }
  
  &__Middle{

    width: 100%;
    color: var(--fontcolor-light);

    h3{
      text-align: center;
      font-size: 13px;
      font-weight: bold;
      width: 100%;
     
    }
    h4{
      text-align: center;
      font-size: 12px;
      width: 100%;
      padding: 3px 0;
    }
  }

  &__Bottom{
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid $outline-light;
    color: var(--fontcolor-light);

    &__Callout{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 200px;
      padding: 20px 0 40x 0;
      font-family: $primaryfont;
      
      &__Header{
        width: 100%;
        padding: 4px 5px;
        background-color: $primarycolor;
        font-size: 14px;
        color: $fontcolor-white;
        margin-bottom: 20px;

        span{
          display: inline-block;
          font-size: 20px;
          margin-top: 5px;
        }
      }

      &__Item{
        font-size: 14px;
        margin-bottom: 10px;
        padding-left: 35px;

        &:hover{
          color: $primarycolor;
        } 
      }

    }

    table,tr{
      width: 100%;
      cursor: pointer;
      position: relative;
    }
    &__Profile, &__Save, &__Logout{

      &:hover{
        color: $primarycolor;
      }
    }
    td{
      
      vertical-align: middle;
    }

    &__Icon{
      padding-top: 6px;
      font-size: 20px;
      
    }
    &__Text{
      font-size: 12px;
      padding-left: 10px;
      
    }

  }

}

