@charset "utf-8";
@viewport {
  width: device-width;
}
@import "../../../stylesDef/index.scss";

.ProductDetails {
  // width: 100%;
  // height: 100%;
  // background-color: var(--background-color);
  // font-family: $primaryfont;

  &__Column {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    @media (min-width: 200px) and (max-width: 550px) {
      padding-top: 8px;
    }

    &__Mid {
      display: flex;
      width: 100%;
      @media (min-width: 200px) and (max-width: 1100px) {
        // padding: 0 18px;
        flex-direction: column;
      }
    }

    &__Middle {
      width: 100%;
      overflow: auto;
      margin-bottom: 40px;
      background-color: #fff;
      // display: flex;
      // margin-right: 40px;
      // margin-left: 40px;
      @media (min-width: 550px) and (max-width: 1100px) {
        padding: 0 18px;
        flex-direction: column;
        margin-right: 12px;
        // margin-left: 12px;
      }
      @media (min-width: 200px) and (max-width: 550px) {
        padding: 0 18px;
        width: 100%;
        margin-right: 12px;
        // margin-left: 12px;
      }

      &__Input {
        width: 100%;
        height: 54px;
        background: #f4f4f4;
        border-radius: 10px;
        margin-bottom: 12px;
        border: none;
        padding: 0 16px;
      }

      &__Bottom {
        margin-top: 30px;
        width: 100%;

        &__Header {
          // display: flex;
          // flex-flow: row nowrap;
          // justify-content: space-evenly;
          align-items: center;
          background-color: #f2f2f2;
          border-radius: 10px;
          padding: 10px 0px;

          ul {
            margin-bottom: 0px;
            display: flex;
            justify-content: space-evenly;
            li {
              margin-bottom: 0px;
              cursor: pointer;
              display: inline-block;
              margin-right: 20px;
            }
          }

          &__Active {
            color: #2e8ccb;
          }
          &__Inactive {
            color: var(--fontcolor-light);
          }
        }
      }

      &__Content {
        width: 100%;
        // border-top: 1px solid rgb(209, 206, 206);
        padding-top: 10px;

        &__Empty {
          width: 100%;
          padding: 60px 0;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;

          p {
            margin-top: 10px;
            font-size: 14px;
            color: rgb(153, 152, 152);
          }
        }
      }

      &__Pictures {
        width: 50%;
        position: relative;
        @media (min-width: 200px) and (max-width: 550px) {
          width: 100%;
        }

        &__Big {
          height: 323px;
          width: 100%;
          box-shadow: 0px 3px 10px #00000029;
          border-radius: 10px;
          background-color: white;
          @media (min-width: 200px) and (max-width: 550px) {
            height: 350px;
            box-shadow: none;
          }

          &__Pix {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            @media (min-width: 200px) and (max-width: 550px) {
              border-radius: 0px;
            }
          }

          &__Heart {
            width: 54px;
            height: 50px;
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;
            color: red;
            @media (min-width: 200px) and (max-width: 550px) {
              width: 40px;
              height: 36px;
            }
          }
        }

        &__Small {
          display: grid;
          margin: 12px 0;
          grid-template-columns: repeat(4, 1fr);
          gap: 8px;

          &__Pix {
            height: 100px;
            // width: 136px;
            box-shadow: 0px 3px 5px #00000029;
            border-radius: 10px;
            @media (min-width: 200px) and (max-width: 550px) {
              height: 100px;
            }

            &__Img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              border-radius: 10px;
            }
          }
        }
      }

      &__Info {
        padding: 0 0 0 20px;
        width: 50%;
        @media (min-width: 200px) and (max-width: 550px) {
          width: 100%;
          margin-bottom: 50px;
          padding: 0px;
          margin-top: 32px;
        }

        &__FilterContainer {
          display: flex;
          justify-content: flex-end;

          &__Filter {
            width: 41px;
            height: 31px;
          }
        }

        &__Name {
          font-size: 24px;
          font-weight: 500;
        }

        &__Price {
          color: #353535;
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 4px;
        }

        &__Review {
          font-size: 16px;
          font-weight: 600;
          font-style: italic;
          color: $fontcolor;
        }

        &__Stack {
          display: flex;
          margin-bottom: 4px;

          &__Star {
            width: 27px;
            height: 26px;
            margin-right: 4px;
          }
        }

        &__TextBox {
          width: 100%;
          border: 0.5px solid #8cc64b;
          border-radius: 10px;
          padding: 16px 12px 16px 12px;
          margin: 24px 0;

          &__Product {
            color: $fontcolor;
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 4px;
          }

          &__Description {
            color: #6d6d6d;
            font-size: 16px;
          }
        }
        &__SellerBox {
          width: 100%;
          border: 0.5px solid #8cc64b;
          border-radius: 10px;
          padding: 16px 12px 16px 12px;
          display: flex;

          &__Aside {
            display: flex;
            width: 100%;
            justify-content: space-between;
            @media (min-width: 200px) and (max-width: 550px) {
              flex-direction: column;
              justify-content: flex-start;
            }
          }

          &__SellerImage {
            width: 73px;
            height: 73px;
            border-radius: 50%;
            object-fit: cover;
          }

          &__SellerText {
            margin: auto 0px auto 12px;

            &__Name {
              color: #41521f;
              font-size: 14px;
              font-weight: 600;
            }

            &__Phone {
              font-size: 14px;
              color: #2b74c9;
            }
          }
          &__Button {
            box-shadow: 0px 2px 5px #447d0466;
            border-radius: 20px;
            font-size: 12px;
            color: white;
            background: $fontcolor;
            border: none;
            height: 36px;
            width: 141px;
            font-style: italic;
            margin: auto 0px auto auto;
            @media (min-width: 200px) and (max-width: 550px) {
              margin: 0px;
              height: 30px;
              margin-top: 8px;
              margin-left: 12px;
            }

            &__Icon {
              width: 15px;
              height: 15px;
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}
