@charset "utf-8";
@viewport { width: device-width; }
@import "../../../stylesDef/index";

.ApiLoadStateMain {
	align-content: center;
	align-items: center;
	background-color: transparent;
	display: flex;
	height: 100%;
	justify-content: center;
	justify-items: center;
	border-radius: 20px;
	// width: 100%; 


	&__content{
		position: relative;
		line-height: to-rem(50px);

		&:before{
			animation: spin .75s linear infinite;
			border: 3.5px solid rgba(rgb(186, 186, 189), 0.25);
			border-radius: 50%;
			border-right-color: rgba(rgb(175, 172, 172), 0.9);
			box-sizing: border-box;
			content: "";
			display: inline-block;
			float: left;
			left: 0;
			right: 0;
			height: 37px;
			width: 37px;
		}

	}
}

@keyframes spin {
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

 
@media (min-width: 750px) and (max-width:1100px) {

   

}

/************* style display for screen not more than 739px and min of 510px    Breakpoint 3  ******/
@media (min-width: 550px) and (max-width:750px) {

    
}



/************* style display for screen not more than 509px and min of 300px     Breakpoint 4  ******/
@media (min-width: 200px) and (max-width:550px) {

  
      
} 

