$primaryBlue: #2E8CCC;
$primaryGreen: #8CC64B;

:root {
    --background: #ffff;
    --background-content: #f7f7f7;
    --background-2: #e5edf8;
    --fontColor: rgb(83, 100, 113);
    --itemColor: #eef0f1;
    --background-green-light: #d6ebbf;
    --background-green-light-2: #d6ebbf;
}

[data-theme="light"] {
    --background: #fff;
    --background-content: #f7f7f7;
    --background-2: #f6f9fd;
    --fontColor: rgb(83, 100, 113);
    --itemColor: #eef0f1;
    --background-green-light: #d6ebbf;
    --background-green-light-2: #d6ebbf;
}

[data-theme="deem"] {
    --background: #15202B;
    --background-content: #0d131a;
    --background-2: #192734;
    --fontColor: rgb(255, 255, 255);
    --itemColor: rgba(255, 255, 255, 0.09);
    --background-green-light: #15202B;
    --background-green-light-2: #192734;
}

[data-theme="dark"] {
    --background: #1d1d1d;
    --background-content: #0f0f0f;
    --itemColor: rgba(255, 255, 255, 0.09);
    --background-2: #000000;
}