@charset "utf-8";
@viewport { width: device-width; }
@import "../../../stylesDef/index";

.Imageplaceholder {
	display: block;
	height: 300px;
	width: 100%;
	background-color: rgb(245, 235, 235);


}

 
@media (min-width: 750px) and (max-width:1100px) {

   

}

/************* style display for screen not more than 739px and min of 510px    Breakpoint 3  ******/
@media (min-width: 550px) and (max-width:750px) {

    
}



/************* style display for screen not more than 509px and min of 300px     Breakpoint 4  ******/
@media (min-width: 200px) and (max-width:550px) {

  
      
} 

