@charset "utf-8";

@viewport {
  width: device-width;
}

@import "../../stylesDef/index";
@import "../../global.scss";

.Comments {
  width: 100%;
  margin-top: 30px;

  li {
    list-style: none;
  }

  // border-top: 1px solid rgb(175, 173, 173);
  &__Action {
    display: flex;

    span {
      font-size: 12px;
      margin-right: 10px;
      cursor: pointer;
      margin-bottom: 0px;
      display: block;
      height: 100%;

      &:hover {
        border-bottom: 1px solid black;

      }
    }

    p {
      font-size: 12px;
    }
  }

  &__Card {
    display: flex;
    margin-bottom: 10px;
  }

  table,
  tbody,
  tr {
    width: 100%;

  }

  table {
    margin-bottom: 20px;
  }

  td {
    vertical-align: middle;
  }

  &__Image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgb(198, 198, 199);

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &__Text {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 5px;
    font-weight: bold;
    width: fit-content;

    // width: 250px;
    &__Container {
      border: 1px solid rgb(136, 153, 166);
      background-color: var(--background);
      border-radius: 20px;
      margin-left: 10px;
      padding: 10px;
      position: relative;

      &__LikeCount {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: -10px;
        right: -10px;
        border-radius: 30px;
        background-color: white;
        padding: 2px 2px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);

        div {
          display: flex;
          margin-right: 7px;
          align-items: center;
          justify-content: center;
          text-align: center;
          color: white;
          background-color: #2E8CCB;
          border-radius: 50%;
          height: 20px;
          width: 20px;

          p {
            margin-right: 2px;
          }
        }
      }

      &__More {
        // display: none;
        padding: 6px;
        border-radius: 50%;
        margin-left: 10px;
        cursor: pointer;

        &:hover {
          background-color: var(--background-2);
        }

        &__Dropdown {
          background-color: var(--background-2);
          border-radius: 10px;
          color: inherit;

          ul {
            margin: 0px;
            padding: 0px;

            li {
              border-radius: 10px;
              cursor: pointer;
              padding: 15px;
              list-style: none;

              &:hover {
                background-color: rgb(240, 240, 240);


              }
            }
          }
        }
      }
    }


    p {
      font-weight: normal;
      font-size: 16px;
      // width: 300px;
      margin-bottom: 0px;
    }

    h5 {
      font-size: 12px;
      color: rgb(124, 121, 121);
    }

  }

}