@charset "utf-8";

@viewport {
  width: device-width;
}

@import "../../stylesDef/index.scss";


.Card {
  position: relative;
  width: 100%;
  box-shadow: 0 0 9px var(--shadow-color);
  margin-bottom: 30px;
  background-color: var(--background-2);

  @media (min-width: 200px) and (max-width:550px) {
    margin-bottom: 20px;
  }

}

.rounded-4 {
  border-radius: 15px !important;
  overflow: hidden;
}