@import "../../variable";

.Modal {
    .user_detail {
        width: 100%;
        height: 70px;
        min-height: 70px;
        display: flex;
        padding: 0 5%;
        margin: 10px 0 0 0;
        align-items: center;
        align-content: center;

        .avatar {
            width: 60px;
            height: 60px;
            min-height: 60px;
            display: flex;
            border-radius: 60px;
            background-color: lighten($color: grey, $amount: 40);
            background-image: url(../../../assets/images/avatar-1.jpg);
            background-size: cover;
            background-position: center;
            margin-right: 10px;
        }

        h5 {
            font-size: 1.06em;
        }
    }

    .post_picker {
        width: 80%;
        height: 45px;
        min-height: 45px;
        display: flex;
        background-color: rgba($color: $primaryGreen, $alpha: 0.19);
        border-radius: 10px;
        margin: 0 10%;


        .indicator {
            position: absolute;
            left: 50%;
            width: 50%;
            height: 100%;
            display: flex;
            background-color: #1D211A;
            border-radius: 10px;

            &.plain {
                left: 0%
            }
        }

        .post_type {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            align-content: center;
            color: black;
            font-size: 1.02em;
            justify-content: center;
            text-align: center;
            cursor: pointer;

            @media (max-width: 600px) {
                font-size: .9em;
            }

            &.active {
                color: white;
            }
        }
    }

    .inputBox {
        width: 90%;
        margin: 10px auto;
        align-self: center;
        background-color: #F4F4F4;
        border-radius: 10px;

        textarea {
            font-size: 1em;
            padding-left: 15px;
            padding-right: 15px;

            @media (max-width: 600px) {
                font-size: .9em;
            }
        }

        * {
            border: none !important;
        }
    }

    .action {
        width: 90%;
        min-width: 90%;
        height: fit-content;
        min-height: fit-content;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: 15px;

        .txt {
            width: fit-content;
            min-width: fit-content;
            display: flex;
            height: 40px;
            min-height: 40px;
            padding: 0 10px;
            margin: 5px 0;
            align-items: center;
            font-size: 1em;

            @media (max-width: 600px) {
                padding: 0 2px;
            }
        }

        .action-layer {
            width: fit-content;
            flex: 1;
            min-height: fit-content;
            height: fit-content;
            display: flex;
            flex-wrap: wrap;

            .btn {
                width: 90px;
                height: 40px;
                margin: 5px;
                background-color: rgba($color: $primaryGreen, $alpha: 0.19);
                color: darken($color: $primaryGreen, $amount: 30);
                justify-content: space-evenly;

                svg {
                    width: 18px;
                    height: 18px;
                }

                .MuiButton-label {
                    color: #000;
                    font-size: .8em;
                }

                &:nth-of-type(1) {
                    svg {
                        fill: #FF6060;
                    }
                }

                &:nth-of-type(2) {
                    svg {
                        fill: #487BFF;
                    }
                }

                &:nth-of-type(3) {
                    svg {
                        fill: #FF842B;
                    }

                }

                &:nth-of-type(4) {
                    svg {
                        fill: #D800FB;
                    }
                }
            }

            .col {
                width: 100px;
                height: fit-content;
                min-width: 100px;
                min-height: fit-content;
                display: flex;
                flex-direction: column;

                .inputBox.num {
                    input {
                        padding: 10px;
                    }
                }

                .name {
                    width: 100%;
                    display: flex;
                    text-transform: uppercase;
                    font-size: 1em;
                    justify-content: center;
                    text-align: center;
                }
            }
        }
    }

    .submit_btn {
        width: 50%;
        min-width: 200px;
        height: 50px;
        min-height: 50px;
        background-color: $primaryGreen;
        color: white;
        margin: 20px auto 50px auto;

        &:hover {
            background-color: darken($color: $primaryGreen, $amount: 10);
        }
    }
}