@import "../../variable";

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgba(77, 77, 77, 0.15);
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 100;

    .container {
        width: 70%;
        height: 80%;
        min-width: 300px;
        max-width: 700px;
        max-height: 600px;
        overflow: hidden;
        overflow-y: auto;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        @media (max-height: 700px) {
            height: 90%;
        }

        @media (max-width: 1000px) {
            width: 80%;
        }

        @media (max-width: 600px) {
            height: 90%;
            width: 90%;
        }

        .close_btn {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 10px;
            right: 10px;
            color: red;

            svg {
                width: 24px;
                height: 24px;
                min-width: 24px;
                min-height: 24px;
                color: #000;
                fill: #000;
            }
        }

        .title {
            width: 100%;
            height: 60px;
            min-height: 60px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-content: center;
            align-items: center;
        }

    }
}