@import "../../global.scss";

.CommentForm {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    li {
        list-style: none;
    }

    img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }

    span {
        margin-right: 10px;
        height: 30px;
        width: 30px;
        padding: 10px;
    }

    form {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: var(--background);
        border: 1px solid rgb(136, 153, 166);
        border-radius: 20px;
        color: inherit;

        input {
            background-color: var(--background);
            border-radius: 20px 0px 0px 20px;
            border: none;
            padding: 10px;
            width: 100%;
            color: inherit;

        }

        ul {
            padding: 0;
            padding-right: 5px;
            margin: 0;
            justify-content: space-evenly;
            display: flex;
            align-items: center;

            .send {
                background-color: $primaryGreen;
                padding: 5px 15px;
                border-radius: 15px;
                color: white;
                cursor: pointer;
            }

            .emoji-btn {
                cursor: pointer;
                margin-right: 10px;

                &:hover {
                    background-color: rgb(189, 189, 189);
                    border-radius: 50%;
                    padding: 5px;
                }
            }
        }
    }




}