@charset "utf-8";
@viewport { width: device-width; }
@import "../../stylesDef/index";

.Horizontalist{
  width: 100%;
  margin: 20px 0 0 0;
  padding: 0 10px;

  &__Header{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    h3{
      font-size: 14px;
    }
    p{
      font-size: 20px;
      cursor: pointer;

      &:hover{
       margin-right: -2px;
      }
    }

  }

  &__Body{
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    
    
    li{
      display: inline-block;
      width: 40px;
      height: 40px;
      border: 2px solid rgb(198, 198, 199);
      border-radius: 50%;
      margin-right: 15px;
      

      img{
        
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

  }

}



