@charset "utf-8";

@viewport {
    width: device-width;
}

@import "../../stylesDef/index.scss";
@import "../../styles/variable.scss";

.friendBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
    padding: 10px;
    border-radius: 10px;

    .right {
        button {
            background-color: $primaryGreen;
            color: white;
            border: none;
            padding: 5px 20px;
            border-radius: 5px;
        }
    }

    .left {
        display: flex;
        align-items: center;
        cursor: pointer;

        * {
            margin-bottom: 0px;
        }

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
}