@charset "utf-8";
@viewport { width: device-width; }
@import "../../stylesDef/index.scss";

.Deem{
  margin-top: 30px;
  width: 100%;
  font-family: $primaryfont;
  // background-color: var(--background);

  &__Comment{
   
    padding: 0 10px 10px 10px;
    border-radius: 20px;
    padding: 20px;
    // margin-top: 40px;
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    color: var(--fontcolor-light);
    background-color: var(--background-white);
    box-shadow: 0 0 9px var(--shadow-color);
    bottom: 0px;
    
    &__Title{
      font-size: 16px;
      // padding: 5px 0;
      // margin-bottom: 10px;
      margin-left: 10px;
      color: $primarycolor;
    }

    textarea{
      width: 100%;
      border: none;
      color: var(--fontcolor-light);
      background-color: var(--background-white);
    }

    &__Counter{
      width: 100%;
      font-size: 11px;
      color: #fff;
      text-align: right;
      border-top: 1px solid #fff;
      
    }

    &__Button{
      margin: 10px 0 0px auto;
      width: 60px;
      height: 30px;
      
    }

  }

}




   

@media (min-width: 750px) and (max-width:1100px) {

}

@media (min-width: 550px) and (max-width:750px) {

    
}

@media (min-width: 200px) and (max-width:550px) {

}