@charset "utf-8";
@viewport { width: device-width; }
@import "../../stylesDef/index";


.Video{
  width:100%;
  height:100%;
  border-radius: 10px;
  object-fit:fill;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 

  &:hover{
    opacity: 0.8;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

}



