@import "../../variable";

.side_panel {
    overflow: visible;
    z-index: 1200;

    &.left {
        left: 0px;

        .achievement {
            background-color: var(--background-green-light);
            border-radius: 15px;
            text-align: center;
            padding: 20px;
        }

        @media (max-width: 1000px) {
            display: none;
        }
    }

    &.unAuth.left {
        @media (max-width: 1000px) {
            display: flex;
        }

        @media (max-width: 700px) {
            display: none;
        }
    }

    &.right {
        right: 0px;

        @media (max-width: 700px) {
            display: none;
        }
    }

    .title_txt {
        width: 100%;
        height: fit-content;
        min-height: fit-content;
        display: flex;
        padding-left: 10%;
        margin-top: 80px;
        padding-bottom: 10px;
        font-size: 1.1em;
        font-weight: 500;
        text-transform: uppercase;
    }

    &.right {
        .title_txt {
            margin-top: 30px;
            padding-left: 0%;
            padding-bottom: 20px;
        }
    }

    .account_details {
        height: 60px;
        min-height: 60px;
        display: flex;
        background-color: var(--background-green-light);
        border-radius: 10px;
        margin-top: 100px;

        .avatar {
            width: 50px;
            height: 50px;
            display: flex;
            border-radius: 50%;
            margin: 5px 10px;
            background-color: lighten($color: $primaryGreen, $amount: 40);
        }

        .col {
            width: fit-content;
            height: 100%;
            min-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .name {
                width: fit-content;
                height: fit-content;
                display: flex;
                font-size: .9em;
                font-weight: 600;
                text-transform: capitalize;
            }

            .username {
                width: fit-content;
                height: fit-content;
                display: flex;
                text-transform: lowercase;
            }
        }
    }

    ul {
        width: 100%;
        height: fit-content;
        min-height: fit-content;
        display: flex;
        flex-direction: column;

        li {
            width: 100%;
            height: fit-content;
            min-height: fit-content;
            display: flex;

            .avatar {
                width: 35px;
                height: 35px;
                display: flex;
                border-radius: 50%;
                margin: 5px 10px;
                background-color: lighten($color: $primaryGreen, $amount: 40);
            }

            .name {
                flex: 1;
                height: 100%;
                display: flex;
                font-size: 1em;
                font-weight: 600;
                text-transform: capitalize;
                align-items: center;
            }
        }
    }

    .content_list {
        width: 100%;
        height: fit-content;
        min-height: fit-content;
        display: flex;
        flex-direction: column;
        overflow: visible;
        padding: 0 5%;

        .category_list {
            position: relative;
            width: 100%;
            height: fit-content;
            min-height: fit-content;
            display: flex;
            padding: 5px 10px;
            cursor: pointer;
            color: var(--fontColor);
            overflow: visible;

            .container_layout {
                width: 300px;
                min-width: 300px;
                height: fit-content;
                min-width: fit-content;
                min-height: fit-content;
                display: flex;
                background-color: var(--background);
                padding: 10px 15px;
                position: absolute;
                left: 100%;
                opacity: 0;
                border-radius: 10px;
                flex-direction: column;
                pointer-events: none;

                &::before {
                    content: "";
                    background-color: var(--background);
                    box-shadow: 15px 0px 20px var(--fontColor);
                    border-radius: 10px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0.2;
                }

                .title {
                    width: 100%;
                    height: fit-content;
                    min-height: fit-content;
                    display: flex;
                    font-size: 1.1em;
                    font-weight: 600;
                }

                .sub_title {
                    width: 100%;
                    height: fit-content;
                    min-height: fit-content;
                    display: flex;
                    font-size: 1em;
                    font-weight: 600;
                }

                .sub_list {
                    width: 100%;
                    height: fit-content;
                    min-height: fit-content;
                    display: flex;
                    font-size: 1em;
                    color: var(--fontColor);
                    text-decoration: none;
                    padding: 5px 0;

                    &:hover {
                        text-decoration: underline !important;
                    }
                }
            }

            &:hover {
                .container_layout {
                    opacity: 1;
                    pointer-events: visible;
                }
            }

            .icon {
                position: relative;
                width: 45px;
                height: 45px;
                min-width: 45px;
                min-height: 45px;
                max-width: 45px;
                max-height: 45px;
                display: flex;
                margin: 0 10px 0 0;
                border-radius: 10px;
                background-color: rgba($color: #000000, $alpha: 0.08);
                justify-content: center;

                span {
                    width: 30px;
                    height: 30px;
                    min-width: 30px;
                    min-height: 30px;
                    max-width: 30px;
                    max-height: 30px;
                    display: flex;
                    background-position: center;
                    background-size: cover;
                    align-self: center;
                }
            }

            p {
                flex: 1;
                display: flex;
                margin: 0;
                padding: 0;
                height: fit-content;
                min-height: fit-content;
                align-items: center;
                align-content: center;
                flex-wrap: wrap;
                align-self: center;
            }

            .custom_icon {
                width: 12px;
                max-width: 12px;
                min-width: 12px;
                height: 40px;
                display: flex;
            }
        }

        // .content {
        //     flex: 1;
        //     min-width: 70px;
        //     max-width: 100px;
        //     height: fit-content;
        //     min-height: fit-content;
        //     display: flex;
        //     flex-direction: column;

        //     .box {
        //         width: 100%;
        //         height: 70px;
        //         min-height: 70px;
        //         display: flex;
        //         justify-content: center;
        //         align-items: center;
        //         background-color: var(--background);
        //         border-radius: 10px;

        //         svg {
        //             width: 50%;
        //             height: 50%;
        //             color: $primaryGreen;
        //             fill: $primaryGreen;
        //         }
        //     }

        //     .name {
        //         width: 100%;
        //         max-width: 100%;
        //         height: fit-content;
        //         min-height: fit-content;
        //         display: flex;
        //         justify-content: center;
        //         text-align: center;
        //         text-transform: capitalize;
        //         padding: 5px 2px 3px 2px;
        //         font-size: .8em;
        //         font-weight: 400;
        //         color: #252525;
        //     }
        // }
    }
}