.side_panel {
    width: 30vw;
    min-width: 280px;
    max-width: 300px;
    height: 100vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: var(--background-2);
    z-index: 400;
    overflow-y: auto;
    padding: 0px 10px;
}