@charset "utf-8";

@viewport {
  width: device-width;
}

@import "../../stylesDef/index.scss";
@import "../../global.scss";

.Fund-Butt {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 10px;
}

.Blog {
  width: 100%;
  background-color: var(--background-content);
  font-family: $primaryfont;
  position: relative;
  margin: 2rem 0;
  padding: 1.5rem 1rem;
  border-radius: 10px;

  // padding: 0 10% 0 10%;

  &__Modal {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;

    @media screen and (max-width: 1000px) {
      width: 95%;
    }

    &__Body {
      background-color: var(--background-2);

      ul {
        margin-left: 0px;
        padding: 20px;
        background-color: var(--background);
        border-radius: 10px;

        li {
          align-items: center;
          display: flex;
          justify-content: space-between;
        }
      }

    }

    &__Footer {
      display: flex;
      align-items: center;
    }
  }

  @media screen and (max-width: 500px) {
    padding: 1.5rem .5rem;
  }

  &__ShareButtons {
    display: flex;
    flex-wrap: wrap;
  }

  &__Callout {
    width: 200px;
    font-size: 12px;
    position: absolute;
    right: 0;
    z-index: 2;

    ul {
      padding: 10px;
      margin-bottom: 0px;
    }

    li {
      padding: 5px;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background-color: var(--background-green-light);
      }
    }
  }

  &__Header {
    width: 100%;
    padding: 8px 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    table,
    tbody,
    tr {
      width: 50%;

    }

    td {
      vertical-align: middle;
    }

    &__Image {
      width: 43px;
      height: 43px;
      padding: 2px;
      border: 1px solid $primarycolor2;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    &__Text {
      font-size: 14px;
      font-weight: bold;
      line-height: 16px;
      margin-left: 10px;
      width: 100%;
      color: inherit;

      span {
        font-size: 12px;
        color: rgba(38, 160, 216, 0.973);
      }
    }

    &__More {
      margin: 13px 5px 0 0;
      width: 32px;
      height: 20px;
      padding: 0 8px;
      border-radius: 40%;


      &:hover {
        background-color: rgb(229, 226, 226);
      }
    }

  }

  &__Media {
    width: 100%;
    margin-bottom: 20px;
  }

  &__Description {
    padding: 20px 10px;
    font-size: 16px;
    margin-bottom: 5px;
  }

  &__Reactions {
    padding: 0 10px;
    margin-bottom: 10px;
    // display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    display: flex;

    @media screen and (max-width: 600px) {
      display: flex;
    }

    &__Time {
      padding: 15px 10px 0 10px;
      font-size: 10px;
      color: rgb(117, 115, 115);
      margin-bottom: 10px;
    }

    table,
    tbody,
    tr {
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: center;

      @media (min-width: 200px) and (max-width:550px) {
        margin-right: 5px;
      }

    }

    tbody {
      flex-direction: column;

    }

    tr {
      width: fit-content;
      min-height: fit-content;
      justify-content: center;
      align-content: center;
      padding: 0 1rem;
    }

    &:nth-last-child(1) {
      td {
        width: fit-content;
        min-height: fit-content;
      }


    }

    .hover:hover {
      background-color: rgba(0, 255, 64, 0.205);
      color: rgb(82, 80, 80);
    }

    td {
      vertical-align: middle;
    }

    &__Icon {
      padding: 5px;
      border-radius: 50px;
      font-size: 23px;
      width: 35px;
      height: 35px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;


      &__Hot {
        padding: 5px;
        font-size: 23px;
        width: 35px;
        height: 35px;
        cursor: pointer;
        color: $hot;
      }


    }

    &__Text {
      padding-left: px;
      font-size: 11px;
    }

  }

  &__Funding {
    width: 100%;
    padding: 0 10px;

    &__Progress {
      width: 100%;
      height: 5px;
      background-color: rgb(202, 199, 199);
      position: relative;

      &__Inner {
        height: 100%;
        background-color: $primarycolor2;
        position: absolute;
      }
    }

    &__Info {
      font-size: 16px;
      font-weight: 600;
      padding: 5px 0;
      margin-bottom: 10px;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center
    }

    &__Button-Active {
      @extend .Fund-Butt;
      background-color: $primarycolor;
      color: #fff;

      &:hover {
        opacity: .9;
      }
    }

    &__Button-Inactive {
      @extend .Fund-Butt;
      background-color: rgb(219, 214, 214);
      color: rgb(180, 177, 177);
      padding: 3px 0;
      cursor: initial;

      table,
      tbody {
        width: 120px;
        margin: 0 auto;
      }

      td {
        font-size: 14px;
        vertical-align: middle;

      }

      span {
        display: inline-block;
        font-size: 18px;
        padding-top: 5px;
      }



    }

  }

  &__Allcomment {
    padding: 0 10px;
    width: 100%;
    font-size: 12px;
    color: rgb(117, 115, 115);
    cursor: pointer;

    &:hover {
      color: rgb(59, 58, 58);
    }

  }

  &__Addcomment {
    margin: 10px 0;
    padding: 10px 10px 20px 10px;
    font-size: 12px;
    width: 100%;
    border-top: 1px solid $outline-light;
    color: rgb(128, 126, 126);
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;


    span {
      color: $primarycolor;
    }
  }



}