@charset "utf-8";

@viewport {
  width: device-width;
}

@import "../../stylesDef/index";

.Overlay {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  // background-color: rgba($color: #000000, $alpha: .4);
  background-color: rgba(91, 112, 131, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1200;
  overflow-y: auto;
}