@charset "utf-8";

@viewport {
  width: device-width;
}

@import "../../stylesDef/index";

.Post {

  width: 30%;
  margin: 0 auto;

  @media screen and (max-width: 1400px) {
    width: 40%;
  }

  @media screen and (max-width: 1100px) {
    width: 60%;
  }

  @media screen and (max-width: 800px) {
    width: 70%;
  }

  @media screen and (max-width: 550px) {
    width: 80%;
  }

  @media screen and (max-width: 470px) {
    width: 90%;
  }

  &__Wrapper {


    &__Content {
      position: relative;

      &__Header {
        width: 100%;
        padding: 15px 10px;
        // background-color: $primarycolor;
        font-size: 14px;
        color: inherit;
        font-weight: bold;
        text-align: center;
        // display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        // position: relative;

        span {
          display: inline-block;
          font-size: 20px;
          margin-top: 5px;
        }

        table,
        tr {
          width: 100px;

        }

        td {

          vertical-align: middle;
        }

        &__Close {


          position: absolute;
          right: 10px;
          top: 5px;
          // text-align: center;
          // padding: 10px;

          z-index: 2;
          cursor: pointer;
        }
      }

      &__scroll {
        padding: 0px 10px 20px 10px;
        overflow-y: scroll;

        @media screen and (max-width: 800px) {

          max-height: 500px;
        }

        @media screen and (max-width: 2000px) {

          max-height: 600px;
        }

      }

      &__Body {
        width: 100%;

        ul {
          margin: 0px 0px 20px 0px;
          padding-left: 0px;
          display: flex;
          background-color: #87b35459;
          border-radius: 5px;
          color: black;
          width: 100%;
          list-style: none;

          li {
            cursor: pointer;
            text-align: center;
            width: 50%;
            margin: 0px;
            padding: 10px 20px;
            border-radius: 5px;

            &.active {
              color: white;
              background-color: black;
            }
          }

        }


        textarea {
          width: 100%;
          padding: 20px;
          border: none;
          margin-bottom: 20px;
        }
      }

      &__Footer {
        width: 100%;
        font-size: 11px;
        text-align: right;
        margin-top: -15px;
        background-color: var(--background-2);

        &__Counter {
          width: 100%;
          font-size: 11px;
          padding: 0 3px;
          color: var(--fontcolor-light);
          text-align: right;

        }

        &__Media {
          width: 100%;
          height: 250px;
          position: relative;

          &__Video {
            width: 90%;
            margin-right: 5%;
            margin-left: 5%;
            height: 100%;
          }

          &__Close {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 28px;
            color: white;
            background-color: rgba(0, 0, 0, 0.77);
            border-radius: 50%;
            height: 30px;
            width: 30px;
            text-align: center;
            // padding: 10px;
            position: absolute;
            top: 13px;
            left: 8%;
            z-index: 2;
            cursor: pointer;

            &:hover {
              color: rgb(156, 154, 154);
            }
          }

          img {
            width: 100%;
            // margin-right: 5%;
            // margin-left: 5%;
            margin-bottom: 20px;
            height: 100%;
            border-radius: 15px;
          }
        }

        &__Attribute {
          // border-top: 1px solid rgb(170, 167, 167);
          padding: 20px 10px;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          width: 100%;

          p {
            padding-top: 6px;
            margin-left: -15px;

          }

          &__Media {
            width: 80px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;


            div {
              width: 30px;
              height: 30px;
              font-size: 22px;
              color: $primarycolor;
              cursor: pointer;

              &:hover {
                opacity: .7;
              }
            }

            input {
              visibility: hidden;
              width: 0;
              height: 0;
            }

          }

          &__Interest {

            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;


            p {
              margin: 6px 10px 0 0;
              font-style: italic;
            }

            section {
              width: 130px;
              padding: 5px 10px;
              text-align: left;
              border-radius: 5px;
              border: 1px solid rgb(140, 140, 143);
              position: relative;
              cursor: pointer;

              span {
                display: inline-block;
                position: absolute;
                font-size: 14px;
                right: 5px;
              }

            }

          }

        }

      }

    }

    &__Picker {
      width: 100%;

      &__Content {
        width: 100%;
        padding: 10px;
        position: relative;

        &__Close {
          position: absolute;
          font-size: 16px;
          top: 10px;
          right: 10px;
          cursor: pointer;
        }

        &__Amount {
          width: 50%;
          height: 35px;
          position: relative;
          margin-top: 22px;

          &__Currency {
            width: 50px;
            height: inherit;
            position: absolute;


            select {
              width: 100%;
              height: 100%;
              font-size: 12px;
            }
          }

          input {
            padding: 0px 5px !important;
          }

        }

        &__Target {
          width: 50%;
          height: 35px;
          padding-left: 10px;
        }

        input {
          width: 100%;
          height: 100%;
          padding: 10px 10px;
          font-size: 12px;
          border: none;
          border-radius: 5px;
          border: 1px solid rgb(143, 140, 140);

        }

        .Interests {
          width: 100%;
          font-family: $primaryfont;
          padding: 10px;
          overflow-x: scroll;
          overflow-y: hidden;
          white-space: nowrap;

          &__Interest {
            display: inline-block;
            margin-right: 20px;
            width: 40px;
            height: 50px;

            div {
              border-radius: 50%;
              border: 2px solid $outline-light;
              width: 40px;
              height: 40px;
              padding: 0;
              cursor: pointer;

              &:hover {
                border: 3px solid $primarycolor;
              }
            }

            img {
              width: 100%;
              height: 100%;

            }

            h6 {
              margin-top: 5px;
              font-size: 9px;
              text-align: center;
              white-space: nowrap;
            }
          }


        }

      }

      p {
        font-size: 12px;
        font-weight: bold;
      }

      section {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;



      }


    }

  }


}