@import "./styles/variable.scss";

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  transition: all .4s;
  position: relative;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  font-family: Lato;
  box-sizing: border-box;
}


body {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--background) !important;
  color: var(--fontColor) !important;
  // color: #8898A6 !important;
}

.bg-color {
  background-color: var(--background);
}

.font-color {
  color: var(--fontColor) !important;
}

.bg-color2 {
  background-color: var(--background-2);
}

.emoji-picker-react {
  background: var(--background-2) !important;
  color: var(--fontColor);
  box-shadow: none;
}

.sweet-btn {
  background-color: transparent !important;
  border-radius: 25px !important;
  width: 100px;
  border: 2px solid $primaryBlue !important;
  color: $primaryBlue !important;
  padding: 2px 10px !important;
}

.sweet-btn-rounded {
  border-radius: 25px !important;
}


@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato/Lato-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato/Lato-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato/Lato-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato/Lato-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato/Lato-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato/Lato-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato/Lato-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato/Lato-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato/Lato-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato/Lato-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}