@charset "utf-8";
@viewport { width: device-width; }
@import "../../stylesDef/index";


.Image{
  width:100%;
  height:100%;
  position: relative;

  img{
    width:100%;
   height:100%;
  }

  &__Sticker__Icon{
    position: absolute;
    right: 5%;
    top: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 200;
    padding: 2px;
    border: 2px solid rgb(221, 220, 220);

    img{
      width:100%;
      height:100%;
      border-radius: 50%;
    }

  }

  &__Sticker__Text{
    text-align: center;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    bottom: 10px;
    z-index: 200;
    display: block;

    span{
      display: inline-block;
      padding: 2px 3px;
      border-radius: 2px;
      font-size: 11px;
      background-color:  #fff;;
    }

  }
  
}



