@import "../variable";

.AuthLayout form {
    .error_txt {
        width: 100%;
        height: fit-content;
        min-height: fit-content;
        display: flex;
        justify-content: center;
        padding: 5px 20px;
        text-align: center;
        color: red;
        font-weight: 600;
        font-size: 1.1em;
    }

    .title_txt {
        margin: 1.5em 10% .5em 10%;
        font-weight: bold;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        justify-content: center;

        @media (max-width: 600px) {
            margin-top: 1em;
            margin-bottom: .5em;
        }
    }

    .auth_appBar {
        background-color: transparent;
        padding: 10px 0;
        box-shadow: 0 0 0 transparent;
        width: fit-content;
        min-width: fit-content;
        margin: 0 auto;

        .auth_appTab {
            color: $primaryBlue;

            span {
                color: #202020;

            }
        }

        .MuiTabs-indicator {
            height: 100%;
            min-height: 100%;
            border-radius: 10px;
            z-index: -1;
            background-color: rgba($color: $primaryBlue, $alpha: 0.2);
        }
    }

    .inputBox {
        width: 100%;
        height: min-content;
        min-height: min-content;
        display: flex;
        flex-direction: column;
        padding: 10px 15%;

        &.verify {
            align-items: center;

            label {
                width: 100%;
                min-width: 100%;
                justify-content: center;
                text-align: center;
            }

        }

        label {
            width: fit-content;
            height: fit-content;
            min-height: fit-content;
            padding: 5px 0 10px 20px;
            font-size: 1.1em;
        }

        * {
            div {
                background-color: transparent;
            }

            div::after,
            div::before {
                display: none;
            }
        }

        .chip_interest {
            width: fit-content;
            min-width: fit-content;
            height: fit-content;
            min-height: fit-content;
            display: flex;
            border-radius: 5px;
            padding: 5px;
            padding-right: 10px;
            margin: 5px;
            color: #202020;
            background-color: rgba($color: $primaryBlue, $alpha: 0.2);
            align-items: center;
            align-content: center;
            font-weight: 600;
            font-size: 13px;
        }

        .inputField {
            >div {
                background-color: #F9F9F9;
            }

            &.select {
                border-radius: 10px;
                padding: 5px 10px;
            }

            input {
                font-size: 1em;
            }

            .btn {
                svg {
                    width: 24px;
                    height: 24px;
                    fill: $primaryBlue;
                    color: $primaryBlue;
                }

                &.dark {
                    svg {
                        fill: #202020;
                        color: #202020;
                    }
                }
            }

            * {
                border: none !important;
            }
        }

        @media (max-width: 600px) {
            padding: 10px 10%;

            label {
                font-size: .9em;
            }

            .inputField {

                input {
                    font-size: .9em;
                }
            }
        }

        @media (max-width: 450px) {
            padding: 10px 5%;
        }

    }

    .link {
        width: 100%;
        text-align: center;
        justify-content: center;
        height: fit-content;
        min-height: fit-content;
        display: inline-block;
        font-size: 1.1em;
        font-weight: 500;
        margin: 20px 0 20px 0;

        &:first-of-type {
            margin-top: 30px;
        }

        a {
            color: $primaryGreen;
            margin: 0 5px;
        }

        @media (max-width: 500px) {
            font-size: .9em;
            margin-top: 20px;
        }
    }

    .center {
        width: 100%;
        height: fit-content;
        min-height: fit-content;
        display: flex;
        justify-content: center;
    }

    .submit_btn {
        width: 50%;
        height: 50px;
        min-width: 180px;
        max-width: 400px;
        background: $primaryBlue;
        border-radius: 10px;
        color: white;
        align-self: center;
        font-size: 1.1em;
        margin: 0 auto;

        &:disabled {
            background-color: lighten($color: $primaryBlue, $amount: 20);
        }

        @media (max-width: 600px) {
            font-size: .9em;
            height: 50px;
        }
    }
}


.interest_image {
    width: 40px;
    height: 30px;
    min-width: 40px;
    min-height: 30px;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin: 0 7px;
}