@import "../variable";

.AuthLayout {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;

    &>.side {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .contentDesc {
        position: absolute;
        left: 0;
        width: 60%;
        background-color: $primaryBlue;
        justify-content: center;
        overflow-y: auto;


        .container {
            width: 70%;
            height: 80%;
            display: flex;
            align-self: center;
            flex-direction: column;
            justify-content: center;

            .image-desc {
                width: 300px;
                height: 300px;
                min-width: 300px;
                min-height: 300px;
                display: flex;
                background-image: url(../../assets/brand/ecodem2.png);
                background-color: #fff;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 10px;
                align-self: center;
                margin: 0 0 2em 0;
            }

            p {
                font-size: 2em;
                font-weight: 600;
                text-align: center;
                justify-content: center;
                padding: 1em 10%;
                color: white;
                text-transform: uppercase;
            }

        }

        @media (max-width: 1200px) {
            min-width: 50%;
            width: 50%;

            .container {
                width: 90%;
                height: 90%;
            }
        }

        @media (max-width: 1000px) {
            .container p {
                font-size: 1.5em;
            }
        }

        @media (max-width: 900px) {
            display: none;
        }
    }

    .contentForm {
        width: 40%;
        position: absolute;
        right: 0;
        height: 100vh;
        min-height: 100vh;
        overflow-y: auto;

        @media (max-width: 1200px) {
            min-width: 50%;
            width: 50%;
        }

        @media (max-width: 900px) {
            min-width: 100%;
            width: 100%;
        }

        .btn_float {
            position: fixed;
            top: 1em;
            right: 1em;
            z-index: 50;
            width: 200px;
            min-width: 200px;
            height: 45px;
            border-radius: 45px;
            justify-content: center;
            align-content: center;
            background-color: lighten($color: $primaryBlue, $amount: 40);
            color: $primaryBlue;
            font-weight: 600;

            svg {
                width: 18px;
                min-width: 18px;
                height: 18px;
                min-height: 18px;
                color: $primaryBlue;
                fill: $primaryBlue;
                margin: -2.5px 0 0 0;
            }
        }

        .avatar {
            width: min-content;
            min-width: min-content;
            min-height: min-content;
            height: min-content;
            display: flex;
            border-radius: 50%;
            padding: 30px;
            background-color: lighten($color: $primaryGreen, $amount: 40);
            margin: 10em auto 0 auto;

            @media (max-width: 900px) {
                margin-top: 10px;
            }


            svg {
                width: 70px;
                height: 70px;
                min-width: 70px;
                min-height: 70px;
                display: flex;
                border-radius: 50%;
                fill: $primaryGreen;
                color: $primaryGreen;
            }
        }



        @media (max-width: 900px) {
            .mobile-logo {
                display: block !important;
                text-align: center;
                margin-top: 100px;
                margin-bottom: 20px;

                img {
                    max-width: 200px;
                }

            }

            .btn_float {
                width: 150px;
                min-width: 150px;
                height: 40px;
                border-radius: 40px;
                font-size: 10px;
            }
        }
    }
}