@charset "utf-8";
@viewport {
  width: device-width;
}
@import "../../../../stylesDef/index";

.Address {
  width: 100%;
  &__InputRow {
    display: flex;
    width: 100%;
    margin-top: 24px;
    &__Input {
      width: 50%;
      font-size: 14px;
      &:first-child {
        margin-right: 24px;
      }

      &::placeholder {
        font-size: 14px;
      }
    }
  }

  &__Button {
    margin-top: 24px;
    height: 36px;
  }
}
