@charset "utf-8";
@viewport {
  width: device-width;
}
@import "../../../../stylesDef/index.scss";

.Cart {
  width: 100%;

  background-color: #fff;
  font-family: $primaryfont;

  &__Bracer {
    width: 100%;
    margin: 20px auto 0;

    @media (min-width: 200px) and (max-width: 750px) {
      width: 100%;
    }
  }

  &__Column {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    @media (min-width: 200px) and (max-width: 550px) {
      padding-top: 8px;
    }

    &__Left {
      width: 500px;
      height: 400px;
      position: sticky;
      top: 65px;

      @media (min-width: 200px) and (max-width: 1100px) {
        display: none;
      }
    }

    &__Middle {
      width: 100%;
      padding: 80px 0 0 30px;
      overflow: auto;
      margin-bottom: 40px;
      position: relative;
      margin-right: 40px;
      min-height: 90vh;
      @media (min-width: 200px) and (max-width: 1100px) {
        padding: 0 18px;
      }
      @media (min-width: 200px) and (max-width: 550px) {
        padding: 0 18px;
        width: 100%;
        margin-right: 0px;
      }

      &__Checkbox {
        display: flex;
        padding: 24px 0px;
        justify-content: space-between;

        &__Button {
          height: 42px;
          width: 200px;
          margin: auto 0px;
        }

        &__Total {
          font-weight: bold;
          font-size: 14px;
        }

        &__Price {
          font-size: 24px;
          color: #d90000;
          font-weight: 600;
        }
      }

      &__Empty {
        text-align: center;
        border: 1px solid #dedede;
        width: 50%;
        margin: 0 auto;
        padding: 48px 0;
        border-radius: 4px;

        &__Icon {
          // font-size: 2rem;
          color: $fontcolor;
        }

        &__Text {
          font-weight: bold;
          margin: 16px 0 8px 0;
        }
      }

      &__Header {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 12px;
        font-family: $primaryfont;
      }

      &__Item {
        height: 120px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        // padding-bottom: 42px;
        padding-top: 16px;
        border-bottom: 1px solid #dedede;
        @media (min-width: 200px) and (max-width: 550px) {
          flex-direction: column;
          height: auto;
        }

        &__One {
          height: 100px;
          display: flex;
          margin-bottom: 12px;

          &__ImageBox {
            height: inherit;
            margin-right: 24px;
            width: 100px;
            &__Image {
              height: inherit;
              width: inherit;
              object-fit: contain;
            }
          }
        }

        &__Two {
          display: flex;
          margin-left: auto;
          width: 50%;
          justify-content: space-between;
          @media (min-width: 200px) and (max-width: 550px) {
            margin-left: 0;
            width: 100%;
          }
          &__Quantity {
            display: flex;
            border: 1px solid #dedede;
            height: fit-content;
            // box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 12%),
            // 	0 0.125rem 0.25rem 0 rgb(0 0 0 / 8%);
            &__Icon {
              align-items: center;
              border: none;
              background-color: #2e8ceb;
              border-right: 1px solid #dedede;
              color: white;

              &:disabled {
                background-color: #f7f7f7;
                color: black;
              }
            }

            &__IconRight {
              align-items: center;
              border: none;
              background-color: #2e8ceb;
              border-left: 1px solid #dedede;
              color: white;
            }

            &__Number {
              padding: 0px 12px;
              margin: auto 0;
            }
          }

          &__Price {
            // margin-left: 12px;
            margin-top: 0px;
            &__MainPrice {
              margin-top: -6px;
              color: #d90000;
              font-weight: bold;
              font-size: 20px;
            }
            &__OtherPrice {
              font-size: 12px;
              color: #bbbbbb;
            }
          }
        }
      }
    }
  }
}
